*{
  padding: 0;
  margin:0;
  font: 1em Arial,sans-serif;
} 
.head{
  background: black;
  margin: 15px;
  padding :5px;
  border-radius: 15%;
  color: white;
  position:sticky;
  top:00;
  
}
body{
  background:#072E33;
  
 
}
span{
  color: gold;
}
.subject{
  background: white;
  margin: 15px;
  padding: 20px;
}

.pix{
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn{
  padding-top: 50px;
  margin :15px
}
button{
  color:white;
  background:green;
  padding: 17px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;

}
.text{
  padding: 20px;
  margin: 15px;
  color: white;
  text-align: justify;
  border: 4px solid white;
  
  
}
.content{
  height: 100%;
  width: 200%;
  padding: 20px;
  margin: 15px;

}
.img-content img{
  height: auto;
  width: 200px;
  overflow: hidden;
  display: block;
}
.span1{
  color:green ;
  background: floralwhite;
  padding: 20px;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  
}